/* ADD FONTS TO PROJECT */
@font-face {
    font-family: Roboto;
    src: url("../src/fonts/Roboto-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../src/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 120px;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 2px solid #000000;
}

header img {
    height: 80px;
}

header button {
    display: block;
    position: absolute;
    top: 30px;
    right: 160px;
    padding: 0 20px;
    height: 40px;
    font-size: 20px;
    background-color: #0072e1;
    color: #ffffff;
    border: none;
    border-radius: 20px;
}

nav{
    position: fixed;
    top: 110px;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    font-size: 25px;
    padding: 10px 40px 10px 140px;
    margin: 10px 10px 0 0;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

main{
    margin: 120px 300px 20px 300px;
    width: calc(100vw - 600px);
    box-sizing: border-box;
    padding: 20px;
    border: #000000 2px solid;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
}

h1 {
    font-weight: bold;
}

p {
    height: 66px;
    overflow-y:hidden;

    cursor: pointer;
    color: #777777;
    padding-right: 20px;
    transition: height 1.2s linear, color 0.6s linear;
}

p:hover {
    height: 132px;
    overflow-y: scroll;
    color:black;
}


footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-top: 2px solid #000000;
}